<div class="container-fluid h-100 text-white">
    <div class="row justify-content-center bg-info" style="height: 100%;">
        <div class="card bg-success" style="text-align: center;">
                <div class="card-body">
                    <h2 class="card-title">My Keep</h2>
                    <p class="card-text">¡Descarga la aplicación gratis!</p>
                    <a href="../assets/MyKeep.apk" class="btn btn-primary" style="width: 150px;">Aquí</a>
                </div>
            <img class="card-img-bottom" src="../assets/dinosaurio.png" alt="Card image">
        </div>
    </div>
</div>

<router-outlet></router-outlet>